/*--------------------------------------------Colors*/
.bg-color-nav {
    background-color: #01012c
}

.bg-color {
    background: linear-gradient(90deg, rgba(1, 1, 44, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(255, 0, 0, 1) 100%);
}

.bg-color-opaque {
    background-color: rgba(0, 0, 0, .6);
    height: 100%;
}

/*--------------------------------------------Colors */

/* ----------------------------------------Special paddings/margins/text */
.features {
    position: absolute;
    right: 0;
}

h1 {
    text-transform: uppercase;
    font-family: 'Nova Square', sans-serif;
    padding-top: 8px;
}

/*--------------------------------------------End of Special paddings/margins/text */

/*--------------------------------------------Header/navbar*/
.container-fluid {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 5vh;
}

.navbar-toggler {
    border: none;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: white;
}

.nav-link.active {
    background-color: rgba(255, 0, 0, 0.411);
    border: 1px solid rgba(255, 0, 0, 0.781);
    font-size: 1.3rem;
}

/*--------------------------------------------End of Header/navbar*/

/*--------------------------------------------Hover.css*/
.nav-link.sign-in:hover {
    background-color: rgba(255, 0, 0, 0.411);
    border: 1px solid rgba(255, 0, 0, 0.781);
    color: white;
    font-size: 1.3rem;
}

.nav-link.tournament:hover {
    background-color: rgba(255, 0, 0, 0.411);
    border: 1px solid rgba(255, 0, 0, 0.781);
    color: white;
    font-size: 1.3rem;
}

.nav-link.news:hover {
    background-color: rgba(255, 0, 0, 0.411);
    border: 1px solid rgba(255, 0, 0, 0.781);
    color: white;
    font-size: 1.3rem;
}

.navbar-brand:hover {
    color: white;
}

.nav-link:focus,
.nav-link:hover {
    color: white;
    background-color: rgba(255, 0, 0, 0.411);
    border: 1px solid rgba(255, 0, 0, 0.781);
    font-size: 1.3rem;
}

/*--------------------------------------------End of Hover.css*/

/*--------------------------------------------Call to action/Section 1 */
#cta {
    height: 70vh;
    padding-top: 3vh;

}

.background-image {
    height: 70vh;
    width: 100vw;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

.structure {
    color: white;
}

/*--------------------------------------------End of Call to action/Section 1*/

/*--------------------------------------------Upcoming Tournaments/Section 2 */
#upcoming-tournaments {
    height: 33.33vh;
    padding-top: 2vh;
}

/*--------------------------------------------End of Upcoming Tournaments/Section 2*/

/*--------------------------------------------Games/Section 3 */
#games {
    height: 33.33vh;
}

/*--------------------------------------------End of Games/Section 3*/

/*--------------------------------------------Media queries*/
@media(max-width: 992px) {
    .background-image {
        height: 68vh;
        width: 100%;
        object-fit: cover;
    }

    #upcoming-tournaments {
        height: 33.33vh;
        padding-top: 0;
    }
}

/*--------------------------------------------End of Media queries*/